<h1>Places I've Been</h1>
<br>
<h2>Welcome to the List of Places You've been, because you're so rich and well-travelled you can't remember</h2>
<br>
<a href="/places">See Places you've visited</a>
<a href="/places/new">Add a new place</a>