<h1>Places I've Been</h1>
<br>
<h2>Welcome to the list of places youve been, because you're so rich and well-travelled you can't remember without a list</h2>
<br>
<a href="/places">See places you've visited</a>
<a href="/places/new">Add a new place</a>